---
layout: default
---

<header>
    <h1>Blog</h1>
</header>

<main>

<section>
    <h2>Recent Journal Entries</h2>
    {% for post in site.journal limit:2 %}
      <div>
        <h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
        <p>{{ post.excerpt }}</p>
      </div>
    {% endfor %}
</section>

<section>
    <h2>Recent Poems</h2>
    {% for post in site.poetry limit:2 %}
      <div>
        <h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
        <p>{{ post.excerpt }}</p>
      </div>
    {% endfor %}
</section>

<section>
    <h2>Photography</h2>
    {% for post in site.photography limit:1 %}
      <div>
        <h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
      </div>
    {% endfor %}
</section>

<section>
    <h2>Art</h2>
    {% for post in site.art limit:1 %}
      <div>
        <h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
      </div>
    {% endfor %}
</section>

<section>
    <h2>Media Reflections</h2>
    {% for post in site.media limit:2 %}
      <div>
        <h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
        <p>{{ post.excerpt }}</p>
      </div>
    {% endfor %}
</section>

</main>
