<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }}</title>

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Inter:wght@400&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&family=Work+Sans:wght@400;500;700&display=swap" rel="stylesheet">


    <!-- Main Stylesheet -->
    <link rel="stylesheet" href="/assets/css/style.css">

    <!-- SimpleLightbox CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/simplelightbox@2.14.1/dist/simple-lightbox.min.css" />
</head>

<body>

<header class="site-header">
    <div class="container">
        <div class="site-title">
        <a href="/">silent hours</a>
        </div>
        <nav class="site-nav">
        <a href="/">Home</a>
        <a href="/journal/">Journals</a>
        <a href="/poetry/">Poetry</a>
        <a href="/photography/">Photography</a>
        <a href="/art/">Art</a>
        <a href="/media/">Media Reflections</a>
        </nav>
    </div>
    </header>

  <main>
    {{ content }}
  </main>

  <script>
    document.addEventListener("DOMContentLoaded", function() {
        const sections = document.querySelectorAll('main > section');
    
        const observer = new IntersectionObserver(entries => {
            entries.forEach(entry => {
                if (entry.isIntersecting) {
                    entry.target.classList.add('visible');
                    observer.unobserve(entry.target);
                }
            });
        }, { threshold: 0.1 });
    
        sections.forEach(section => {
            section.classList.add('fade-in');
            observer.observe(section);
        });
    });
    </script>
    
    <!-- SimpleLightbox JS -->
    <script src="https://cdn.jsdelivr.net/npm/simplelightbox@2.14.1/dist/simple-lightbox.jquery.min.js"></script>

    <script>
    document.addEventListener("DOMContentLoaded", function() {
        var lightbox = new SimpleLightbox('.gallery a', {});
    });
    </script>

</body>
</html>
